<template name="options">
  <div>
    <h3>Lets play with the configuration options!</h3>
    <div class="ui yellow message">
    Note: here I'm playing with UI.render and UI.insert to update the atForm template when configuration options are modified. Acually there is no reactivity involved and the server-side configuration object remains unchanged!
    </div>
    <div role="form" class="ui form message">
      {{#each options}}
        {{> option}}
      {{/each}}
    </div>
  </div>
  <div class="ui red message">
      Note: formValidationFeedback has no effect for accounts-templates-semantic-ui
  </div>

  {{#if signup}}
    <div class="ui yellow message">
      Sign-up fiels can be easily customized with just a few lines: lets have a look at the 
      <a href="https://github.com/splendido/test-accounts-templates-bootstrap/blob/master/shared/config/ATConfig.js">configuration file</a>.
    </div>
    <div class="ui top attached secondary segment">
      <h3>Validation Information</h3>
    </div>
    <div class="ui bottom attached segment">
      <p>Allowed telephone number formats:</p>
      <ul>
        <li>(123) 456-7890</li>
        <li>123-456-7890</li>
        <li>123.456.7890</li>
        <li>1234567890</li>
      </ul>
    </div>
  {{/if}}

</template>

<template name="option">
  <div class="checkbox">
    <label>
      <input type="checkbox" id="option-{{this}}" value="" checked="{{checked}}">
      {{this}}
    </label>
  </div>
</template>