<template name="profile">
  <div class="ui page grid one column">
    <div class="column">
      {{> userProfile}}
    </div>
  </div>
</template>

<template name="userProfile">
  <div class="ui top attached secondary segment">
    <h3>User vCard (might be blank when logged in with a social account...)</h3>
  </div>
  <div class="ui bottom attached segment">
    {{#if currentUser}}
    <address>
      {{#if name}}
        <strong>{{name}}</strong><br>
      {{/if}}
      <a href="mailto:#">{{email}}</a><br>
      {{#if phone}}
        <abbr title="Phone">P:</abbr> {{phone}}
      {{/if}}
    </address>
    {{else}}
      <p>Not logged-in!</p>
    {{/if}}
  </div>
</template>